.search-partner-container {
    width: 80%;
    margin-top: 1em;
}

.search-partner-container h2 {
    color: var(--secondary-light-2);
}

.search-partner-inputs {
    width: 100%;
    display: flex;
    margin-top: 1em;
}

.search-partner-inputs div {
    display: flex;
    flex-direction: column;
        margin-right: 9em;
}

.search-partner-buttons {
    margin-top: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-partner-buttons button {
    height: 3em;
    border-radius: 0.8em;
    border: 0;
    background-color: var(--primary-light-2);
    color: var(--white);
}

.search-partner-buttons button:hover {
    background-color: var(--primary-light);
    transition: background-color 0.30s ease-in-out;
}

.partnerOptionBtn {
    display: flex;
    flex-direction: column;
}

.partnerOptionBtn p {
    margin-top: 0.2em;
}

.partner-error {
    color: var(--error);
}