.employee-form {
    width: 50%;
    height: 85%;
    border: 0.15em solid var(--primary-light-2);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.employee-form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 70%;
    height: 100%;
    margin-top: 1em;
}

label { 
    font-family: var(--font-titles);
    margin-top: 1em;
    margin-bottom: 0.5em;
    letter-spacing: 0.05em;
}

.input-form, select {
    width: 100%;
    height: 4em;
    border-radius: 0.8em;
    border: 0.1em solid var(--primary-light-2);
    padding-left: 1em;
    color: var(--placeholder-register);
    letter-spacing: 0.15em;
}

.form-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.register-button {
    border: 0.15em solid var(--sucess);
    background-color: var(--primary-light-2);
    border-radius: 0.8em;
}

.register-button:hover {
    background-color: var(--primary-light);
    transition: background-color 0.30s ease-in-out;
}

.message {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

a {
    color: var(--register-subtitle);
    letter-spacing: 0.05em;
    cursor: pointer;
}

.required {
    color: var(--error);
}

