
.columns-container {
    display: flex;
    width: 100%;
    gap: 2rem;
}

.contentformedit {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.input {
    display: flex;
    flex-direction: column;
 
}

.input label {
    font-weight: 500;
}

input,
select,
textarea {
    width: 100%;
    padding: 0.2em;
    box-sizing: border-box;
}

textarea.notes {
    height: 8em;
    resize: none;
}

.divconteiner {
    display: flex;
    gap: 1rem;
}

.divconteiner div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.btns-row-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.flex-content {
    display: flex;
    gap: 2rem;
}

.flex-content > div {
    width: 50%;
}

.results-list {
    list-style: none;
    padding: 0;
}

.result-item {
    background: rgba(255, 255, 255, 0.08);
    padding: 0.7em;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}

.add-button {
    background: #4caf50;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.add-button:hover {
    background: #43a047;
}

.selected-authors {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.selected-author {
    background: #5a4ce6;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.remove-button {
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.btns-row {
    display: flex;
    
    justify-content: flex-start;
    gap: 1rem;
}

.changes {
    border: 2px solid var(--success);
    background-color: var(--primary-light-2);
    height: 3em;
}

.img-ico {
    width: 1.5em;
    height: 1.5em;
}

.img-ico img {
    width: 100%;
    height: 100%;
}

.success {
    color: var(--success);
    margin-bottom: 1em;
}

.books-author-container {
    height: 80vh;
}
.formeditbook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0em 0em 0em 5em;
    margin: 1.5em auto;
    gap: 2em;
}
.findauthor{
    color: var(--secondary-light-2);
}