.formeditbook {
    display: flex;
    flex-direction: column; /* columnas apiladas */
    align-items: center;
    width: 100%;
    margin-top: 1em;
}

.columns-container {
    display: flex; 
    gap: 2rem;     
    width: 100%;
    justify-content: center;
}
.contentformedit {
    display: flex;
    flex-direction: column;
    width: 40%; 
}

.btns-row {
    display: flex;
    width: 100%; 
     gap: 1rem; 
    flex-wrap: wrap; 
}

.btns-row-container{
    width: 100%;
    padding: 0em 4em;
     justify-content: space-between; 
     gap: 1rem; 
     margin-bottom: 1em;
}
.inputcheckbox {
    width: 30%;
}

/* Para inputs que están directamente dentro de .input */
.input:has(> input:focus)>label,
.input .content div:has(input:focus) label,
.input .content div:has(select:focus) label,
input:checked+.checkboxin {
    color: var(--secondary-light-2);
    font-weight: bold;
}

.checkbox {
    margin-top: 0.5em;
    margin-left: 0.2em;
    height: 1em;
}

.checkbox input {
    margin-top: 0.5em;
}

.input label {
    transition: color 0.3s ease;
}

.content {
    display: flex;
    width: 100%;
    gap: 0.5rem;
}

.content-form {
    display: flex;
}

.content-form div input {
    width: 50%;
}

.notes {
    height: 10em;
}

.divconteiner {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.divconteiner div {
    display: flex;
    flex-direction: column;
    width: 50%;
}


.divconteiner div input {
    width: 100%;
}

.selectform {
    height: 1.3em;
    width: 100%;
}

.line {
    margin: 10px 0 0 0.2em;
    width: 50%;
    height: 2px;
    background-color: var(--white);
}



.btn {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-dark-2);
    width: 12em;
}

.img-ico {

    width: 1.5em;
    height: 1.5em;
}

.img-ico img {
    width: 100%;
    height: 100%;
}


.changes {
    justify-content: center;
    height: 3em;
    border: 2px solid var(--success);
    background-color: var(--primary-light-2);
}


input,
select,
textarea {
    margin-bottom: 0.5rem;
    box-sizing: border-box;
}

.input,
.divconteiner div,
.content-form div {
    margin-bottom: 0.5rem;
}

/* Márgenes uniformes entre inputs */
input,
select,
textarea {
    margin-bottom: 0;

}

/* Márgenes entre grupos */
.input,
.divconteiner div,
.content-form div {
    margin-bottom: 0.5rem;
}

/* .margininput{
    margin-bottom: -1.2em;
} */


.changes.btn {
    margin-left: auto;
    align-self: flex-end;
}

.btns-form div button {
    padding: 1em;
    margin: 0.5em;
}

.btns-form {
    display: flex;
    width: 100%;
    margin: 2em 0 2em 0;
}

.btn-right {
    margin-left: 0.4em;
}

.formeditbook .input   {
    display: flex;
}


.form-add-book-size {
    background-color: var(--primary-dark-2);
    width: 60em;
    position: relative;
}

.books-author-container {
    height: 80vh;
}

