.choosed {
    background-color: var(--black);
}

.materials-group {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.group-table {
    width: 100%;
}

.group-table .content-table {
    padding: 0;
}

.group-table .content-table .table {
    width: 100%;
}

.group-table .content-table .pagination {
    width: 100%;
}

.add-material-container {
    width: 40em;
    max-height: 95vh;         /* Ajustá según el diseño */
    overflow-y: auto;         /* Habilita el scroll vertical */
    margin-bottom: 0;
}

.add-material-group-background {
    background-color: var(--primary-dark-2);
    max-height: 95vh;         /* Ajustá según el diseño */
    overflow-y: auto;         /* Habilita el scroll vertical */
}

.add-material-inputs {
    width: 100%;
}

