.choosed {
    background-color: var(--black);
}

.materials-group {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.group-table {
    width: 100%;
}

.add-material-container {
    width: 40em;
    max-height: 70vh;         /* Ajustá según el diseño */
    overflow-y: auto;         /* Habilita el scroll vertical */
    padding-right: 1em;  
}

.add-material-group-background {
    background-color: var(--primary-dark-2);
}