
.booksection{
    display: flex;
    width: 100%;
}

.bookinf {
    width: 100%;
}

.book-title {
    height: 6em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--primary-light);
}

.book-title h2 {
    margin-left: 1em;
    color: var(--white);
    display: inline-block;
}
.inputCDU input{
    display: flex;
    width: 85%;
    
}
.inputCodeCDU{
    width: 35%;
}

.content{
    display: flex;
    flex-direction: row;
}

.labelinput{
    margin-bottom: 2em;
}
.select{
    height: 2.5em;
}

.titleh3{
    margin-top: 1em;
    color: var(--secondary-light-2);
    text-align:left;
}

