.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-content {
    width: 70%;
    height: 90%;
    display: flex;
    align-items: center;
    border-radius: 1em;
    justify-content: space-between;
}

.login-presentation {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; /* Para que el pseudo-elemento no se desborde */
}

.login-presentation::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('../../assets/img/login-background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.login-presentation > * {
  position: relative;
  z-index: 1; /* Asegura que el contenido esté por encima del fondo */
} 

.login-title {
    text-align: center;
    height: 40%;
    display: flex;
    align-items: center;
    margin: 0 1em;
    border-radius: 1em;
    width: 100%;
    justify-content: center;
}

.login-title h2 {
    font-size: 3em;
    color: var(--secondary-light-2);
}

.login-info {
    height: 60%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1em;
    flex-direction: column;
    width: 80%;
}

.login-info p {
    font-size: 1.5em;
    color: var(--white);
}

.login-info-img {
    width: 30%;
    height: 2em;
    margin-top: 1em;
    height: 5em;
}

.login-info-img img {
    width: 100%;
    height: 100%;
}

.haveAccount {
    margin-top: 1em;
}

.haveAccount a {
    color: var(--secondary-light-2);
    font-size: 1em;
}

.login-form {
    width: 50%;
    height: 100%;
    background-color: var(--white);
}


.login-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login-form-title {
    height: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
}

.login-form-title h3 {
    font-size: 2.5em;
}

.login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 75%;
}

.login-form form button {
    margin-top: 1em;
}

.login-form form .input {
    width: 70%;
    color: var(--black);
    margin-top: 1em;
}

.login-form form .input:has(> input:focus) > label {
    color: var(--primary-light-2);
}

.login-form form .input label {
    font-size: 1.25em;
}

.login-form form .input input {
    margin-top: 0.5em;
    height: 2.5em;
}

.login-register-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-register-msg h3 {
    margin-bottom: 1em;
}

.no-account-msg {
    margin-top: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.no-account-msg a {
    color: black;
}

.no-account-msg a span {
    color: var(--primary-dark-2);
}