.listings-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: var(--white);
}

.listings-btns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 12em;
}


.listings-btn {
    background-color: var(--primary-light-2);
    color: var(--white);
    height: 3em;
}

.loan-listing-size .preview-list-container {
    width: 100%;
    background: var(--white);
}