.header {
  height: 6.25em;
  background-color: var(--primary-dark-2);
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 1em;
}

.header-left,
.header-center,
.header-right {
  display: flex;
  align-items: center;
}

/* Centrado absoluto del bloque central */
.header-center {
  flex: 1;
  justify-content: center;
  gap: 0.5em;
  color: white;
}

.logo {
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.title-text {
  font-size: 1.4em;
  line-height: 1.2;
  padding: 0;
}

/* Botón de menú */
.menu-button {
  background-color: var(--primary-dark-2);
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnmenuimg {
  width: 4em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnmenuimg img {
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;
}

.btnmenuimg img.rotate {
  transform: rotate(180deg);
}


.auth-links {
  display: flex;
  gap: 1em;
}

.auth-links a:hover {
  color: var(--accent);
}



.header-msg {
  color: var(--white);
}

.header-name {
  font-size: 20px;
  color: var(--accent);
  margin-right: 1em;
}
