.renewe-books-container {
    width: 80em;
    display: flex;
    margin-bottom: 1em;
    margin-top: 1em;
    justify-content: space-evenly;
    height: 100%;
    background-color: var(--primary-dark-2);
    max-height: 70vh;
    /* Ajustá según el diseño */
    overflow-y: auto;
    /* Habilita el scroll vertical */
}

.renewe-books-title {
    margin-top: 1em;
}

.renewe-books-container h3 {
    color: var(--secondary-light-2);
}

.renewe-books-container h2:first {
    color: var(--secondary-light-2);
}

.renewe-books-add-btn {
    width: 98%;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
}

.renewe-books-add-btn button {
    background-color: var(--primary-light-2);
}

.renewe-books-add-btn button:first-child {
    margin-right: 1em;
}

.seeAllBtn {
    width: 9em;
    display: flex;
}

.main-renewe-books {
    height: 100%;
    width: 90%;
}

.library-books {
    height: 100%;
    width: 45%;
}

.renewe-books {
    height: 100%;
    width: 45%;
}

.main-renewe-btns {
    width: 100%;
    display: flex;
    margin-top: 1em;
    height: 100%;
}

.main-renewe-btns button {
    background-color: var(--primary-light-2);
    margin-right: 1em;
}

.main-renewe-books .add-loan-form-inputs {
    margin-top: 1em;
    width: 100%;
}

.main-renewe-books .add-loan-form-inputs .add-loan-retire-date {
    margin-right: 1em;
}


.editBookAuthor {
    width: 100%;
    color: var(--secondary-light-2);
}

.renewe-container .details-container {
    margin-top: 2em;
    margin-bottom: 2em;
}

.renewe-books-container .content-table {
    padding: 1em 0;
}

.renewe-books-container .content-table .table {
    width: 100%;
}

.renewe-books-container .pagination {
    width: 100%;
}
/* 
.renewe-books-container .add-loan-form-inputs .search-partner-container .search-player-buttons {
    flex-direction: row;
} */