.filter-aside {
    width: 25em;
    height: auto;
    background-color: var(--primary-dark-1);
    color: var(--white);
}

.filter-title {
    margin-left: 1em;
    color: var(--secondary-light-2);
}

.filter-title h3 {
    letter-spacing: 0.05em;
    padding-top: 1em;
    font-size: 1.5em;
}

.filter-form form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 1em;
}

.filter-form form input {
    height: 2.5em;
}

.form-inputs, .form-inputs-checkbox {
    display: flex;
    flex-direction: column;
}

.form-inputs label, .form-inputs-checkbox label{
    margin: 0;
    font-size: large;
}

.form-inputs h4, .form-inputs-checkbox h4 {
    margin-top: 1em;
    font-size: 1.4em;
    margin-bottom: 0.5em;
}

.filter-form form label {
    display: flex;
    align-items: center;
}

.filter-form form label input {
    margin-right: 0.5em;
    
}

.form-inputs label {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.form-inputs input {
    margin-top: 0.5em;
}

.form-inputs h4 {
    margin-bottom: 0;
}