.detailsInfoMenu {
    padding: 0.5em;
}

.dropdown-title {
    cursor: pointer;
}

.accordion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.closed{
    display: none;
}
.open{
    display: block;
}


.items-info-details-form-accordion {
    display: flex;
    
}