.author-filter {
    display: flex;
    color: var(--black);
    margin-top: 1em;
    margin-left: 1em;
    align-items: center;
}

.author-filter label {
    margin-right: 0.5em;
    margin-top: 0;
    margin-bottom: 0em;
}

.author-filter input {
    height: 2.5em;
}

.author-actions {
    display: flex;
    align-items: center;
}

.author-books-background {
    background-color: var(--primary-dark-2);
}

.btn-new {
    margin-top: 1em;
    margin-left: 0em;
}

.author-books-list-background {
    max-height: 70vh;
    /* Ajustá según el diseño */
    overflow-y: auto;
    /* Habilita el scroll vertical */
 
}