.partners-books-container {
    width: 100%;
    background-color: var(--primary-dark-2);
}

.partners-books-filters {
    padding: 1em;
}

.partners-books-filters label {
    color: var(--secondary-light-2);
    margin-bottom: 0.3em;
}

.partners-books-filter-option .filter-options {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 1em;
}

.partners-books-filter-option .filter-options .input {
    width: 45%;
    margin-left: 0;
}

.partners-books-filter-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.partners-books-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1em 0;
    margin-bottom: 0;
}

.books-partners-result {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    width: 60%;
}

.result {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result .result-title {
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result .result-title img {
    margin-right: 0.5em;
}

.result .result-value {
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2em solid var(--primary-light);
    margin-top: 0.5em;
    width: 100%;
}