.add-author-form-container {
    background-color: var(--primary-dark-2);
    padding: 0 2em;
    width: 63em;
    min-height: 31em;
}

.add-author-form-container form {
    display: flex;
    width: 100%;
    padding: 0 2em;
}

.add-author-form-container form .add-author-form-inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add-author-form-container form .add-author-form-inputs div {
    display: flex;
    flex-direction: column;
    width: 15em;
}

.add-author-form-container .author-books-title {
    color: var(--secondary-light-2);
}

.author-books-container {
    margin-top: 1em;
}

.author-books-save-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
}

.author-books-save-btn button {
    background-color: var(--primary-light-2);
}

