.feefiltercheckbox {
    display: flex;
    align-items: center;

    gap: 0.5em;
}

.color-secondary {
    color: var(--secondary-light-2);
}


input:disabled {
  background-color: #e0e0e0;   
  color: #555;                 
  cursor: not-allowed;
  opacity: 1; 
}