.feefiltercheckbox {
    display: flex;
    align-items: center;

    gap: 0.5em;
}

.color-secondary {
    color: var(--secondary-light-2);
}


input:disabled {
  background-color: #e0e0e0;   
  color: #555;                 
  cursor: not-allowed;
  opacity: 1; 
}

.feefiltercheckbox {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.feefiltercheckbox-label {
  width: 100%;
  font-size: 0.95rem;
  color: var(--text);
}

.feefiltercheckbox-select {
  height: 3em;
  border-radius: 8px;
  font-size: 0.95rem;
  cursor: pointer;
}