.pagination { 
    width: 100%;
    display: flex;
    justify-content: flex-start;
     flex-wrap: wrap;
     box-sizing: border-box;
  
}


.pagination-options {
    display: flex;
    align-items: center;
      flex-wrap: wrap;
      width: 100%;

}
.number-buttons{
    display: flex;
  
  max-width: 100%;
  box-sizing: border-box;
}
.number-buttons button:last-child{
    border-right: 0.15em solid black;
}

.number-buttons button {
    min-width: 3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    height: 4em;
    border: 0.15em solid black;
    border-right: 0;
    font-family: var(--font-texts);
    letter-spacing: 0.2em;

    transition: background-color 0.3s ease;
}

.number-buttons button:hover , .number-buttons button.next-button:hover {
    background-color: var(--secondary-hover); 
}

.number-buttons button.active {
    background-color: var(--accent);
    color: white;
    font-weight: bold;
}
