.generate-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 1em 0 1em;
        max-height: 85vh;
    /* Ajustá según el diseño */
    overflow-y: auto;
}

.generate-list-container .table td {
      padding: 0em;
}

.generate-list-container h3 {
    color: black;
}

.generate-list-container .fees-info {
    color: black;
    display: flex;
    flex-direction: column;
    width: 98%;
}

.generate-list-container .fees-info span {
    margin-top: 1em;
}

.generate-list-container h4 {
    color: black;
    margin-top: 1em;
}

.generate-list-title {
    width: 98%;
    margin-left: 1em;
    padding-bottom: 0;
}

.generate-list-title .content-table {
  padding: 0;
}

.generate-list-title h .generate-list-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.print-icon-btn {
    width: 100%;
    margin-top: 1em;
}



@media print {
  /* Ocultamos todo excepto el área de impresión */
  body * {
    visibility: hidden;
  }

  .print-loans-area, .print-loans-area * {
    visibility: visible;
  }

  .print-loans-area {
    position: relative; /* no absolute */
    width: 100%;
    overflow: visible;  /* aseguramos que se expanda */
  }

  .no-print {
    display: none;
  }

  table {
    page-break-inside: auto; /* deja que corte naturalmente */
  }

  tr, td, th {
    page-break-inside: avoid;
    page-break-after: auto;
  }
}


/*


@media print {
  body * {
    visibility: hidden;
  }

  .printable-area, .printable-area * {
    visibility: visible;
  }

  .printable-area {
    position: absolute;
    left: 0;
    top: 0;
  }

  .print-button {
    display: none;
  }
}
*/

.no-results{
  color: var(--black);
}