.book-ranking-container {
    width: 100%;
    display: flex;
    max-height: 75vh;
    /* Ajustá según el diseño */
    overflow-y: auto;
    position: relative;
}

.ranking-list-content {
    width: 30%;
    background-color: var(--primary-dark-2);
    border-radius: 0.625em;
}

.ranking-list-filters {
    width: 100%;
    height: 90%;
}

.ranking-list-filters form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-dark-2);
}

.ranking-list-filter-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1em;
}

.ranking-list-filter-option .ranking-list-filter-title:first-child {
    margin-top: 0;
}

.ranking-list-filter-option .ranking-list-filter-title {
    height: 100%;
    width: 90%;
    padding-bottom: 0.5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1em;
}

.ranking-list-filter-option .filter-options {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 0.5em;
}

.ranking-list-filter-option .filter-options .input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5em 1em;
}

.ranking-list-filter-option .filter-options .ranking-date-input {
    flex-direction: column;
    align-items: center;
}

.ranking-list-filter-option .filter-options .column-input {
    flex-direction: column;
    align-items: flex-start;
}


.ranking-list-filter-option .filter-options .column-input input {
    margin-top: 0.3em;

}

.ranking-list-filter-option .filter-options .input label {
    display: inline-block;
    color: var(--secondary-light-1);
}

.ranking-list-filter-option .filter-options .calendar-icon {
    display: inline-block;
}

.ranking-list-filter-option .filter-options .order-by-select {
    margin-top: 0.3em;
    height: 2.5em;
}

.ranking-list-filter-option .filter-options .radio-inputs input {
    margin-right: 0.5em;
}

.ranking-list-filter-option .filter-options .radio-inputs label:first-child {
    margin-right: 1em;
}

.ranking-list-filter-option .filter-options .radio-inputs {
    margin: 0em 1em;
    display: flex;
    flex-direction: column;
}

.ranking-list-filter-option .filter-options .radio-inputs label {
    margin-bottom: 1em;
}
.ranking-books-size{
    width: 50em;
}

.book-ranking-container .preview-list-container {
  width: 100%;
  background-color: var(--white);
  overflow-y: auto;
  padding: 1em;
}