.add-loan-form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-dark-2);
    max-height: 70vh;
    /* Ajustá según el diseño */
    overflow-y: auto;
    /* Habilita el scroll vertical */
    width: 68em;
}

.add-loan-form-content .input:has(> input:focus)>label {
    color: var(--secondary-light-2);
}

.add-loan-form-close-btn img,
.edit-loan-form-close-btn img {
    width: 100%;
    height: 100%;
}

.add-loan-form-content form {
    width: 100%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-loan-form-inputs,
.edit-loan-form-inputs {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 1em;
}

.add-loan-form-inputs div,
.edit-loan-form-inputs div {
    display: flex;
    flex-direction: column;
}

.add-loan-form-inputs div label {
    margin: 0;
    margin-bottom: 0.25em;
    margin-left: 0.2;
}

.add-loan-form-inputs h4 {
    margin-bottom: 0.5em;
}

.add-loan-form-inputs div div label input {
    margin-right: 0.25em;
}

.add-loan-code-employee input,
.add-loan-retire-date input {
    margin-top: 0.5em;
}

.backview-btn {
    position: absolute;
    left: 1em;
    height: 2em;

}

.backview-btn .button-icon {
    width: 2em;
    height: 2em;
}

.backview-btn .button-icon img {
    width: 100%;
    height: 100%;
}

.backview-btn button {
    background-color: var(--primary-light-2);
    width: 100%;
    height: 100%;
    padding: 0 0.25em;
}

.found {
    margin-top: 0.5em;
    font-weight: bolder;
}

.search-book-btn {
    background-color: var(--primary-light-2);
    margin-top: 1em;
    height: 2em;
}

.type-loan-title {
    width: 80%;
    color: var(--secondary-light-2);
}



/* lendbooks */

.lend-books-container {
    width: 80%;
    margin-top: 2em;
}

.lend-books-title {
    color: var(--secondary-light-2);
}

.add-book-to-lend,
.save-changes-lend-books {
    width: 100%;
    margin-top: 1em;
}

.save-changes-lend-books {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
}

.add-book-to-lend button,
.save-changes-lend-books button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.2em;
    background-color: var(--primary-light-2);
    border-radius: 0.8em;
    letter-spacing: 0.10em;
    color: var(--white);
    border: 0;
}

.add-book-to-lend button:hover,
.save-changes-lend-books button:hover {
    background-color: var(--primary-light);
    transition: background-color 0.30s ease-in-out;
}

.add-book-to-lend button img,
.save-changes-lend-books button img {
    height: 80%;
    margin-right: 0.25em;
    margin-left: 0.25em;
}

.save-changes-lend-books button span img {
    height: 60%;
    margin-right: 0.3em;
    margin-left: 0.3em;
}

.add-book-to-lend button a,
.save-changes-lend-books button a {
    color: var(--white);
    text-decoration: none;
}

.lend-books-container .content-table {
    padding: 0;
}

.lend-books-container .content-table .table {
    width: 100%;
}

.add-loan-form-content .save-changes-lend-books {
    width: 80%;
}

