.table {
  width: 100%;
  margin-bottom: 1em;
}

.popup-length {
  width: 100%;
  margin-right: 0;
}

.table tbody,
th {
  font-family: 'Roboto', sans-serif;
  color: var(--white)
}

.content-table {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
  position: relative;
  padding: 1em;
}

.table td {
  padding: 1.5em;
  white-space: normal;
  word-break: break-word;
}


.table th {
  padding: 0.5em;
}

.table,
th,
td {
  border: 1px solid var(--table-lines);
  border-collapse: collapse;
}

.table tbody tr:nth-child(even) {
  background-color: var(--table-color);
  /* fila par */
}

.table tbody tr:nth-child(odd) {
  background-color: var(--table-color-2);
  /* fila impar */
}

.button-table {
  height: 3em;
  width: 4em;
  background-color: var(--primary-light-2);
  border-radius: 0.5em;
  border: 0;
}

.button-table img {
  width: 70%;
  height: 60%;
}

.button-table:hover {
  background-color: var(--primary-light);
  transition: background-color 0.30s ease-in-out;
}

.action-buttons {
  text-align: center;
}


.table .theadPrint {
  background-color: gray;
}

.table .tbodyPrint tr:nth-child(even),
.table .tbodyPrint tr:nth-child(odd) {
  background-color: var(--white);
  color: black;
}

.table,
th,
td {
  border: 1px solid var(--table-lines);
  border-collapse: collapse;
  /* evita bordes dobles */
}

.theadPrint th,
.tbodyPrint td {
  border: 1px solid rgb(56, 56, 56);
}


.table thead {
  height: 5em;
  background-color: var(--table-color)
}