.popup-memo-size {
    min-width: 30em;
    max-width: 50em;
    color: var(--white);
    background-color: var(--primary-dark-2);
    max-height: 50em;
}

.popup-memo-size p {
    padding: 1em;
    text-align: left;
    word-wrap: break-word;
    display: inline-block;
}