.popup-memo-size {
    color: var(--white);
    background-color: var(--primary-dark-2);

}

.popup-memo-size p {
    padding: 1em;
    text-align: left;
    word-wrap: break-word;
    display: inline-block;
}

.partner-memo {
    width: 68em;
    max-height: 70vh;
    overflow-y: auto;
}

.partner-memo p {
    padding: 1em;
}