.search-partner-container {
    width: 80%;
    margin-top: 1em;
}

.search-partner-container h2 {
    color: var(--secondary-light-2);
}

.reader-inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
}



.reader div {
    display: flex;
    flex-direction: column;
}

