* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-texts);
  font-weight: 300;
  font-style: normal;
}

:root {
  --font-titles: "Merriweather", serif;
  --font-texts: "Roboto", sans-serif;
  --light-primary-2: #4F3DD4;
  --light-secondary-2: #FED53B;
  --register-subtitle: #9A7E1F;
  --place-holder-register: #5A524C;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-titles);
}