* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

:root {
  --white: #F4F5FA;
  --primary-light-2:#4F3DD4;
  --primary-light:#4131B3;
  --primary:#312682;
  --primary-dark-1:#231B5B;
  --primary-dark-2:#16103A;
  --secondary-light-2:#FED53B;
  --secondary-light-1:#DEB829;
  --secondary:#BB9B23;
  --secondary-dark-1:#9C811D;
  --secondary-dark-2:#806A19;
  --placeholder-register: #5A524C;
  --register-subtitle: #9A7E1F;
  --accent:#E59AE5;
  --font-titles:'Merriweather', serif;
  --font-texts:"Roboto",sans-serif;
}
h1,h2,h3{
  font-family: var(--font-titles);
}
h1{
    
    color: var(--white);
    font-size: 32px;
    text-align: center;
}
h3{
  font-size: 18px;
}
h2{
  font-size: 24px;
}