.book-authors-size {
    display: flex;
    justify-content: space-evenly;
    width: 60em;
}

.signature {
    display: flex;
    justify-content: center;
    padding: 0.5em;
    width: 90%;
    height: 6em;
    background-color: var(--primary);
    border-radius: 0.5em;
    border: 1px solid var(--white);

}

.signature p {
    margin-top: 0.5em;
}
.container-signature{
    display: flex;
    justify-content: center;
    width: 100%;
}

.title-signature{
    text-align: center;
    margin: 1em;
}