.generic-form-container {
  background-color: var(--primary-dark-2);
  border: 0.15em solid var(--primary-light-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.2em;
  padding: 0.5em 0.5em;
}

.generic-form {
  width: 90%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.generic-form-title {
  color: var(--secondary-light-2);
  margin-bottom: 1em;
  text-align: center;
}

/* Contenedor dinámico según estructura */
.generic-inputs-width {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.generic-inputs-width .input input,
.generic-inputs-width .input select {
  width: 100%;
  box-sizing: border-box;
}

/* Layout para filas (array de arrays) */
.generic-inputs-width.row-layout .input-row {
  display: flex;

  align-items: center;
  gap: 2em;
  width: 100%;
  max-width: 600px;
}

.generic-inputs-width.row-layout .input {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Layout para columna (array plano) */
.generic-inputs-width.column-layout .input-column {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 100%;
  max-width: 600px;
}

.generic-inputs-width.column-layout .input {
  display: flex;
  flex-direction: column;
}

/* Focus label */
.generic-inputs-width .input:has(> input:focus)>label {
  color: var(--secondary-light-2);
}

/* Inputs y selects */
.generic-inputs-width input,
.generic-inputs-width select {

  height: 2.4em;
  margin-top: 0.5em;
  padding: 0 0.7em;
  border-radius: 0.3em;
  border: 1px solid var(--primary-light-2);
  background-color: var(--primary-dark-1);
  color: var(--white);
  font-size: 1em;
}

.generic-inputs-width select {
  border-radius: 0.3em;
}

.generic-btn-save {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.generic-checkbox label {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.generic-checkbox input {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.generic-counter-field {
  margin: 1em 0;
  font-size: 1em;
  display: flex;
  flex-direction: column;
}

.counter-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.counter-controls button {
  width: 30px;
  height: 30px;
  font-size: 18px;
  background-color: #e0e0e0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.counter-controls span {
  min-width: 20px;
  text-align: center;
  font-weight: bold;
}

.simple-inputs label {
  display: flex;
  flex-direction: column;
}


.generic-inputs-width input[type="checkbox"] {

  width: 18px;
  height: 18px;
  margin-right: 0.5em;
  border: 1px solid var(--primary-light-2);
  border-radius: 4px;
  background-color: var(--white);
  cursor: pointer;
}

.label-text {
  display: inline-flex;
  align-items: center;
  gap: 0.2em; /* espacio pequeño entre label y * */
}

.required {
  color: red; /* o tu color de alerta */
}
